In [6]:
#importar modelos, preprocessing, regularizacao, kbest, pipeline, kfold, oneVsrest, joblib, gridsearch, numpy 
import pandas as pd
import numpy as np
from sklearn.linear_model import RidgeClassifier, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, roc_curve, roc_auc_score, classification_report

from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt
import math

from sklearn import linear_model
from scipy.special import expit

from sklearn.metrics import confusion_matrix
import scipy
from scipy.io import arff

from sklearn.datasets import fetch_olivetti_faces
from sklearn.svm import SVC
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline
from sklearn.externals import joblib

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import KFold, cross_val_score, LeaveOneOut

In [48]:
df = pd.read_csv('Datasets/alumni/senai_inep.csv')

X = df.drop(['TP_SITUACAO'], axis=1)
y = df['TP_SITUACAO']

X = X.drop(['ID_ALUNO'], axis=1)

le = preprocessing.LabelEncoder()

X['NO_IES'] = le.fit_transform(X['NO_IES'])
X['NO_CURSO'] = le.fit_transform(X['NO_CURSO'])

In [49]:
import datetime

# TRANSFORMANDO COLUNA EM DATA
dias = []
meses = []
anos = []
for i in range(len(X['DT_INGRESSO_CURSO'])):
    X['DT_INGRESSO_CURSO'][i] = datetime.datetime.strptime(X['DT_INGRESSO_CURSO'][i].title()[0:9], '%d%b%Y')
    dias.append(X['DT_INGRESSO_CURSO'][i].day)
    meses.append(X['DT_INGRESSO_CURSO'][i].month)
    anos.append(X['DT_INGRESSO_CURSO'][i].year)
    
X['dia']=dias
X['mes']=meses
X['ano']=anos
X = X.drop(['DT_INGRESSO_CURSO'], axis=1)

/home/leticia/miniconda3/envs/ambi/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Best features

In [51]:
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X_new = SelectKBest(chi2, k=10).fit_transform(X, y)


X_train, X_test, y_train, y_test = train_test_split(X_new,y, test_size=0.1)

display(pd.DataFrame(X_new))

            0    1          2     3    4    5    6    7    8    9
0      1400.0  1.0    20516.0  30.0  0.0  0.0  1.0  0.0  0.0  7.0
1      1400.0  1.0    20516.0  57.0  0.0  0.0  1.0  1.0  1.0  7.0
2      1400.0  1.0    20516.0  29.0  0.0  0.0  1.0  1.0  1.0  1.0
3      1400.0  1.0    20516.0  38.0  0.0  0.0  9.0  0.0  0.0  1.0
4      1400.0  1.0    20516.0  31.0  0.0  0.0  1.0  0.0  0.0  1.0
...       ...  ...        ...   ...  ...  ...  ...  ...  ...  ...
3304  14786.0  5.0  1332810.0  47.0  0.0  0.0  1.0  1.0  0.0  1.0
3305  14786.0  5.0  1332810.0  19.0  0.0  0.0  1.0  1.0  0.0  1.0
3306  15445.0  0.0  1258151.0  27.0  0.0  0.0  1.0  1.0  1.0  7.0
3307  15445.0  0.0  1258151.0  22.0  0.0  0.0  1.0  1.0  1.0  7.0
3308  15445.0  0.0  1258151.0  24.0  0.0  0.0  1.0  0.0  0.0  1.0

[3309 rows x 10 columns]

### Kfold stratified

In [53]:
from sklearn.model_selection import StratifiedKFold

skfold = StratifiedKFold(n_splits=6, random_state=100)
model_skfold = SGDClassifier()
results_skfold = cross_val_score(model_skfold, X_train, y_train, cv=skfold)
print("scores: ", results_skfold) 
print("Accuracy: %.2f%%" % (results_skfold.mean()*100.0))

scores:  [0.87525151 0.87525151 0.87525151 0.875      0.875      0.87676768]
Accuracy: 87.54%

In [54]:
from sklearn.model_selection import StratifiedKFold

skfold = StratifiedKFold(n_splits=6, random_state=100)
model_skfold = DecisionTreeClassifier()
results_skfold = cross_val_score(model_skfold, X_train, y_train, cv=skfold)
print("scores: ", results_skfold) 
print("Accuracy: %.2f%%" % (results_skfold.mean()*100.0))

scores:  [0.87726358 0.85311871 0.88933602 0.8891129  0.87298387 0.87676768]
Accuracy: 87.64%

In [56]:
from sklearn.model_selection import StratifiedKFold

skfold = StratifiedKFold(n_splits=6, random_state=100)
model_skfold = KNeighborsClassifier()
results_skfold = cross_val_score(model_skfold, X_train, y_train, cv=skfold)
print("scores: ", results_skfold) 
print("Accuracy: %.2f%%" % (results_skfold.mean()*100.0))

scores:  [0.85915493 0.86921529 0.8832998  0.88306452 0.85685484 0.87878788]
Accuracy: 87.17%

### Falta criar os pipelines e aplicar algum exemplo com gridsearch